libraas/
dataset_processado/
uploads/
venv/
src/traducao/__pycache__/
accuracy.png
contexto.py
dataset_nlp.py
loss.png
ajax/temp/
resultados_treinamento/
modelo_gesto.keras
labels.npy
scaler_mean.npy
escaler_scale.npy
