libraas/
dataset_processado/
uploads/
venv/
src/traducao/__pycache__/
accuracy.png
contexto.py
dataset_nlp.py
loss.png
ajax/temp/
resultados_treinamento/
templates/back/
static/css/back/
templates/uploads_historico/
templates/configs/email.php
modelos_traducao/
composer.json
composer.lock
vendor/
labels.npy
modelo_ativo.version
modelo_gestos.keras
scaler_mean.npy
scaler_scale.npy